.load-map-bg{
    background-repeat: no-repeat;
}

@mixin load-map{
    background-repeat: no-repeat;
    background-position: left left;
    background-size: 100% 100%;
    box-shadow: 0px 20px 68px -21px rgba(79, 92, 92, 0.17);
    border-radius: 20px;
    width: 70%;
    transform: translateY(-50%);
}

.load-map-bg2 {
    @include load-map;
    background-color: white;
}

.load-map-bg2-dark {
    @include load-map;
    background-color: #0B1423;
    opacity: 0.8;
}
