.item_active {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #151515;
    border-radius: 17px 0px 0px 17px;   
}
.item_inactive{
    padding-top: 20px;
    padding-bottom: 20px;
}